@import "../_variable";

#cartSpaceOuter {
  min-height: $pageContent_minHeight;
  max-width: 1400px;
  margin: 0 auto;

  .cartSpaceOuter_cartTitle {
    text-align: center;
    padding: 2rem 0;
    font-size: $titleFont;
  }

  .cartSpaceOuter_cartSpace {
    display: flex;
    flex-direction: column;

    .cartSpace_itemSpace {
      flex-basis: 70%;
      max-height: 590px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 0;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: hsl(0, 0%, 33%);
      }
      @media screen and (min-width: 600px) {
        &::-webkit-scrollbar {
          width: 10px;
        }
      }

      .itemSpace_noItems {
        position: relative;
        text-align: center;
        top: 30%;
      }
    }
    .cartSpace_purchaseSpace {
      flex-basis: 25%;
      padding: 0 0.5rem;
      border-left: none;
      border-top: 2px solid $decorativeColor;
      height: 100%;
      text-align: right;

      .infoSpace_info {
        text-align: left;
        margin: 1rem 0;
        font-size: $bigFont;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      .purchaseSpace_purchaseBtn {
        all: unset;
        background-color: $secondaryColor;
        border-radius: $basicBorderRadius;
        font-size: $bigFont;
        padding: 0.5rem 1.5rem;
        margin: 3rem 0 2rem;
        cursor: pointer;
        color: $whiteColor;

        transition: $basicTransition;
        box-shadow: $basicShadow;
        &:hover {
          filter: brightness(0.8);
        }
        &:active {
          filter: brightness(0.6);
        }
        &:disabled {
          background-color: rgba(0, 0, 0, 0.5);

          filter: brightness(1);
          cursor: auto;
        }
        @media screen and(min-width:600px) {
          margin: 3rem 0 0;
        }
      }
      @media screen and(min-width:600px) {
        border-top: none;
        border-left: 2px solid $mainColor;
      }
    }
    @media screen and (min-width: 600px) {
      justify-content: space-between;
      flex-direction: row;
    }
  }
}
