@import "../_variable";

.cartTitle {
  text-align: center;
  padding: 2rem 0;
}
#cartSpace {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - (57px + 103px + 63px));
  max-width: 1400px;
  margin: 0 auto;

  .cartSpace_itemSpace {
    flex-basis: 70%;
    max-height: 590px;
    overflow-y: scroll;
  }
  .cartSpace_purchaseSpace {
    flex-basis: 25%;
    padding: 0 0.5rem;
    border-left: none;
    border-top: 2px solid $decorativeColor;

    height: 100%;
    text-align: right;
    .purchaseSpace_infoSpace {
      .infoSpace_info {
        text-align: left;
        margin: 1rem 0;
        font-size: 1.8rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
    .purchaseSpace_purchaseBtn {
      all: unset;
      background-color: $secondaryColor;

      border-radius: 0.25rem;
      font-size: 1.8rem;
      padding: 0.5rem 1.5rem;
      margin: 3rem 0 2rem;
      cursor: pointer;
      color: #fff;

      transition: all 0.3s ease;
      box-shadow: -0.1rem 0.1rem 5px rgba(0, 0, 0, 0.5);
      &:hover {
        filter: brightness(0.8);
      }
      &:active {
        filter: brightness(0.6);
      }
      &:disabled {
        background-color: rgba(0, 0, 0, 0.5);

        filter: brightness(1);
        cursor: auto;
      }
      @media screen and(min-width:600px) {
        margin: 3rem 0 0;
      }
    }
    @media screen and(min-width:600px) {
      border-top: none;
      border-left: 2px solid $mainColor;
    }
  }
  @media screen and (min-width: 600px) {
    justify-content: space-between;
    flex-direction: row;
  }
}
