@import "../_variable";

#mainPage {
  min-height: $pageContent_minHeight;
  padding: $pageContent_padding;
  max-width: $pageContent_maxWidth;
  margin: 0 auto;

  .mainPage_productsSpace {
    text-align: center;
    padding: 2rem 0;

    .productsSpace_title {
      font-size: $titleFont;
    }

    .productsSpace_cardsSpace {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
      padding: 2rem 0;

      @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
      }
    }
  }
}
