@import "../_variable";

#productsPageOuter {
  min-height: $pageContent_minHeight;
  max-width: $pageContent_maxWidth;
  margin: 0 auto;

  .productsPageOuter_cartTitle {
    text-align: center;
    padding: 2rem 0;
    font-size: $titleFont;
  }

  .productsPageOuter_productsPage {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 600px) {
      flex-direction: row;
    }

    .productsPage_filterSpace {
      padding: 1rem;

      .filterSpace_title {
        font-size: $bigFont;
      }

      .filterSpace_innerFilter {
        padding: 1rem 0;
        max-width: 400px;
        margin: 0 auto;

        .innerFilter_title {
          font-size: $mediumFont;
          display: block;
        }

        .innerFilter_input {
          padding: 0.25rem 0.5rem;
          margin: 0.5rem 0;
          border: 1.5px solid $mainColor;
          outline-width: 0;
          border-radius: 0.3rem;
          width: 100%;
          max-width: 200px;
          box-shadow: $lightShadow;
          &:focus {
            border: 1.5px solid rgba(0, 0, 0, 1);
          }
        }
      }

      .filterSpace_filterBtnSpace {
        width: 100%;
        text-align: center;
        .filterBtnSpace_filterBtn {
          all: unset;
          font-size: $smallFont;
          border: 2px solid $decorativeColor;
          border-radius: $basicBorderRadius;
          padding: 0.5rem 1.75rem;
          cursor: pointer;
          color: $blackColor;
          transition: $basicTransition;
          box-shadow: $basicShadow;
          &:hover {
            background-color: $decorativeColor;
          }
          &:active {
            filter: brightness(0.6);
          }
        }
      }
    }

    .productsPage_productsSpace {
      display: grid;
      width: 100%;
      grid-gap: 2rem;
      padding: 2rem 0;
      grid-template-columns: repeat(auto-fit, 270px);
      grid-template-rows: repeat(auto-fit, 210px);
      justify-content: center;

      .productsSpace_noItems {
        position: relative;
        text-align: center;
        top: 30%;
      }
    }
  }
}
