@import "../_variable";

#footerSpace {
  text-align: center;
  background-color: $mainColor;
  color: $whiteColor;
  font-size: $smallFont;
  padding: 1.25rem 0;

  .footerSpace_name {
    font-weight: 600;
    color: $secondaryColor;
  }
}
