@import "../_variable";

.cardSpace {
  background-image: url("../../../assets/dream.jpg");
  padding: 1rem;
  border-radius: $basicBorderRadius;
  width: 270px;
  position: relative;
  text-align: left;
  box-shadow: $basicShadow;
  overflow: hidden;

  &:hover {
    .cardSpace_overlay {
      opacity: 1;
    }
    .cardSpace_buyBtnSpace {
      top: 0;
    }
    .cardSpace_name {
      top: 0;
    }
    .cardSpace_desc {
      top: 0;
    }
  }

  .cardSpace_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: $basicTransition;
  }

  .cardSpace_name {
    display: inline-block;
    font-size: $bigFont;
    color: $whiteColor;
    text-shadow: $basicShadow;
    transition: $basicTransition;
    position: relative;
    top: 140px;

    &:hover {
      color: $secondaryColor;
    }
  }

  .cardSpace_desc {
    margin-top: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
    white-space: nowrap;
    font-size: $tinyFont;
    color: $whiteColor;
    transition: $basicTransition;
    position: relative;
    top: 140px;
  }

  .cardSpace_buyBtnSpace {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    transition: $basicTransition;
    position: relative;
    top: 140px;
    border-radius: 0.7rem;
    padding: 0.5rem;
  }

  .buyBtnSpace_addToCartBtn {
    all: unset;
    border: 2px solid $decorativeColor;
    padding: 0.5rem 1rem;
    border-radius: $basicBorderRadius;
    font-size: $tinyFont;
    color: $blackColor;
    cursor: pointer;
    background-color: $decorativeColor;
    transition: $basicTransition;
    box-shadow: $basicShadow;

    &:hover {
      filter: brightness(0.8);
    }
    &:active {
      filter: brightness(0.6);
    }
  }

  .buyBtnSpace_price {
    font-size: $mediumFont;
    color: $whiteColor;
    text-shadow: $basicShadow;
  }
}
