@import "../_variable";

.cardSpace {
  padding: 1rem;
  background-color: $mainColor;
  border-radius: 0.7rem;
  min-width: 270px;

  text-align: left;
  box-shadow: -0.1rem 0.1rem 5px rgba(0, 0, 0, 0.3);

  .cardSpace_name {
    font-size: 1.9rem;
    color: #fff;
  }
  .cardSpace_desc {
    margin-top: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
    white-space: nowrap;
    font-size: 1.1rem;
  }
  .cardSpace_buySpace {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cardSpace_addToCartBtn {
    all: unset;
    border: 2px solid $decorativeColor;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    font-size: 1.1rem;
    color: #fff;
    cursor: pointer;
    background-color: $decorativeColor;
    transition: all 0.3s ease;
    &:hover {
      filter: brightness(0.8);
    }
    &:active {
      filter: brightness(0.6);
    }
  }
  .cardSpace_info {
    text-decoration: none;
    background-color: #fff;
    padding: 0.1rem 0.5rem;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    color: $secondaryColor;
    border: 2px solid $secondaryColor;
    transition: all 0.3s ease;

    &:hover {
      background-color: $secondaryColor;
      color: #fff;
    }
    &:active {
      filter: brightness(0.6);
    }
  }
  .cardSpace_price {
    font-size: 1.3rem;
    color: #fff;
  }
}
