@import "../_variable";
@import "../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

#navigationSpace {
  background-color: $mainColor;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;

  .navigationSpace_innerSection {
    display: flex;
    flex-direction: column;
    background-color: $mainColor;
    padding: 1rem 1.5rem;
    min-height: 59px;
    margin: 0 auto;
    max-width: $pageContent_maxWidth;

    @media screen and(min-width: 600px) {
      flex-direction: row-reverse;
    }

    .innerSection_iconSpace {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (min-width: 600px) {
        justify-content: flex-end;
      }

      .iconSpace_burger {
        display: block;
        margin: 0;
        padding: 0;

        .burger_stripe,
        .burger_stripe::after,
        .burger_stripe::before {
          background-color: $whiteColor;
        }

        @media screen and (min-width: 600px) {
          display: none;
        }
      }

      .iconSpace_cart {
        font-size: $mediumFont;
        color: $whiteColor;
        cursor: pointer;
        transition: $basicTransition;
        position: relative;

        .cartItemsQuantity {
          color: $secondaryColor;
          font-size: 12px;
          position: absolute;
          top: -15px;
          right: -50%;
          height: 25px;
          width: 25px;
          overflow: hidden;
          border-radius: 50%;
          background-color: $decorativeColor;
          line-height: 25px;
          text-align: center;
        }

        &:hover,
        &:active {
          color: $secondaryColor;
        }
      }
    }

    .navigation_pages {
      max-height: 0;
      width: 100%;
      overflow: hidden;

      @media screen and (min-width: 600px) {
        max-height: 100%;
      }

      .pages_link {
        display: block;
        color: $whiteColor;
        font-size: $mediumFont;
        max-width: 200px;
        margin: 1.5rem auto calc(1.5rem - 16px);
        text-align: center;
        padding-right: 0;
        cursor: pointer;
        transition: $basicTransition;

        &:hover,
        &:active {
          color: $secondaryColor;
        }

        @media screen and (min-width: 600px) {
          display: inline-block;
          margin: 0 1.5rem 0 0;
          padding-right: 0.5rem;
        }
      }
    }

    .navigation_pages-active {
      max-height: 100%;
    }
  }
}
