@import "../_variable";
@import "../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

#navigationSpace {
  background-color: $mainColor;
  position: sticky;
  top: 0;
  left: 0;
}

.navigationSpace_innerSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  background-color: $mainColor;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;

  @media screen and(min-width:600px) {
    align-items: center;
    flex-direction: row-reverse;
    padding: 0 2rem;
  }

  .innerSection_iconSpace {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 600px) {
      width: auto;
      justify-content: flex-end;
    }
  }

  .navigation_burger {
    display: block;
    margin: 0;
    padding: 0;

    .burger_stripe,
    .burger_stripe::after,
    .burger_stripe::before {
      background-color: #fff;
      box-shadow: -0.1rem 0.1rem 5px rgba(0, 0, 0, 0.3);
    }

    @media screen and (min-width: 600px) {
      display: none;
    }
  }

  .navigation_pages {
    max-height: 0;
    width: 100%;
    overflow: hidden;

    .pages_link {
      display: block;
      color: #fff;
      font-size: 1.3rem;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
      text-align: center;
      padding: 1rem 0.5rem;

      cursor: pointer;
      transition: all 0.3s ease;

      &:hover,
      &:focus {
        color: $secondaryColor;
      }

      @media screen and (min-width: 600px) {
        display: inline-block;
        margin: 0 1.5rem 0 0;
        width: auto;
      }
    }

    @media screen and (min-width: 600px) {
      max-height: 100%;
    }
  }

  .navigation_pages-active {
    max-height: 100%;
  }

  .navigation_cart {
    text-align: right;
    i {
      font-size: 1.3rem;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover,
      &:focus {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}
