@import "../_variable";

#welcomeScreen {
  height: 60vh;
  background-color: $mainColor;
  width: 100%;
  position: relative;

  .welcomeScreen_animationSpace {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .animationSpace_square {
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      background-color: rgba(255, 255, 255, 0.2);
      animation: animate 25s linear infinite;
      bottom: -150px;
    }

    .animationSpace_square:nth-child(1) {
      left: 25%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
    }

    .animationSpace_square:nth-child(2) {
      left: 10%;
      width: 20px;
      height: 20px;
      animation-delay: 2s;
      animation-duration: 12s;
    }

    .animationSpace_square:nth-child(3) {
      left: 70%;
      width: 20px;
      height: 20px;
      animation-delay: 4s;
    }

    .animationSpace_square:nth-child(4) {
      left: 40%;
      width: 60px;
      height: 60px;
      animation-delay: 0s;
      animation-duration: 18s;
    }

    .animationSpace_square:nth-child(5) {
      left: 65%;
      width: 20px;
      height: 20px;
      animation-delay: 0s;
    }

    .animationSpace_square:nth-child(6) {
      left: 75%;
      width: 110px;
      height: 110px;
      animation-delay: 3s;
    }

    .animationSpace_square:nth-child(7) {
      left: 35%;
      width: 150px;
      height: 150px;
      animation-delay: 7s;
    }

    .animationSpace_square:nth-child(8) {
      left: 50%;
      width: 25px;
      height: 25px;
      animation-delay: 15s;
      animation-duration: 45s;
    }

    .animationSpace_square:nth-child(9) {
      left: 20%;
      width: 15px;
      height: 15px;
      animation-delay: 2s;
      animation-duration: 35s;
    }

    .animationSpace_square:nth-child(10) {
      left: 85%;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 11s;
    }

    @keyframes animate {
      0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 40%;
      }

      100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
      }
    }
  }

  .shadowOverlay {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
  }

  .welcomeScreen_titleSpace {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    padding: 0 1rem;

    .titleSpace_title {
      color: $whiteColor;
      text-shadow: $strongShadow;
      font-size: 2.1rem;
      text-align: left;

      .title_coloredLetter {
        color: $secondaryColor;
      }

      @media screen and (min-width: 300px) {
        font-size: 2.3rem;
      }

      @media screen and (min-width: 350px) {
        font-size: 2.7rem;
      }
      @media screen and (min-width: 400px) {
        font-size: 3rem;
      }

      @media screen and (min-width: 600px) {
        font-size: 4rem;
      }
    }
    .titleSpace_title:nth-child(1) {
      display: inline-block;
    }
    .titleSpace_title:nth-child(2) {
      display: inline-block;
      padding-left: 1rem;
    }

    .titleSpace_seeMoreBtnSpace {
      text-align: center;
      .seeMoreBtnSpace_seeMoreBtn {
        all: unset;
        border: 2px solid $whiteColor;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: $basicBorderRadius;
        font-size: $bigFont;
        padding: 0.5rem 1.5rem;
        margin: 2.5rem 0 0;
        cursor: pointer;
        color: $whiteColor;
        transition: $basicTransition;
        box-shadow: $basicShadow;

        &:hover,
        &:active {
          border-color: $decorativeColor;
          background-color: $decorativeColor;
          color: $blackColor;
        }
      }
    }
  }
}
